<html lang="en">
<head>  
    <style>
    body {
      background-color: cornsilk;
      font-family: "Trebuchet MS", Helvetica, sans-serif;
      text-align: center;
    }

    button {
      background-color: lightskyblue;
      font-weight: 200;
      border-radius: 25%;
      padding: 20px;
      width: auto;
      height: auto;
      
    }
    h1{
      color: hotpink;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 50%;
      }
  </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRAFICA</title>
    <br />
    <br />
    <br />
    <label>Hola Mundo</label>
    <p>
        <img src="{{url}}">
        
    </p>
</head>
<body>
    
</body>
</html>