<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <head>
    <title>Home Page</title>
  </head>

  <body {background-color:coral;}>
    <h1>GRAFICACION DE AREAS DE INTEGRALES</h1>

    <form action="/plot" method="POST">
      <label>f(x):</label>
      <input
        type="text"
        id="ecuacion"
        name="ecuacion"
        placeholder="Escribe la ecuacion"
        id="myInput"
      />

      <button type="submit" class="btn btn-primary">Graficar</button>
    </form>
    <img src="/experiment_matplotlib.png" alt="my plot">
  </body>
</html>
